.main {
  width: 100% !important;
  height: 50vh !important;
}

.bookmarks {
  width: 100% !important;
}

h1 {
  overflow: hidden;
}
.main h1:after {
  content: "";
  margin-top: 10px;
  position: absolute;
  display: block;
  width: 5%;
  height: 4px;
  left: 45%;
  background-color: #5079eb;
}

h3 {
  overflow: hidden;
}
.bookmarks h3:after {
  margin-top: 10px;
  content: "";
  position: absolute;
  display: block;
  width: 4%;
  height: 4px;
  background-color: #5079eb;
}
